/* ANDRÉAS NY
#############################################################
	GLOBAL
#############################################################
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* DOM Font-size */
html {
	font-size: 16px;
}

/* Variables */
:root {
	--color-primary-50: hsl(189, 43%, 80%);
	--color-primary-100: hsl(189, 43%, 60%);
}

img {
	max-width: 100%;
	height: auto;
}

/* Classes for shadows */
.shadow {
	box-shadow: 0 0 16px 5px rgba(125, 125, 125, 0.25);
}

.shadow-small {
	box-shadow: 0 0 8px 2.5px rgba(125, 125, 125, 0.25);
}

/*
#############################################################
TYPOGRAPHY
############################################################# */

* {
	font-family: 'Roboto', sans-serif;
}

p {
	font-size: 1.5rem;
	margin: 10px;
	line-height: 1.5;
}

a {
	color: black;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
	margin: 10px;
}

header h1 {
	font-family: 'Roboto Mono', monospace;
	padding: 0;
}

.hero-text {
	width: 100%;
	padding: 1rem 0;
	font-size: 4rem;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	box-shadow: inset 100vw 0 rgba(0, 0, 0, 0.25);
}

.section-news {
	font-size: 1.5rem;
	text-align: center;
}

.section-news h2 {
	margin: 2rem;
	font-size: 4rem;
}

.section-news>h3 {
	margin: 5rem 0 1em 0;
}

.news-article h3,
.news-article p {
	box-shadow: inset 100vw 0 rgba(255, 255, 255, 0.75);
	margin: -1px;
	padding: .5rem;
}

.main-section-container>h2 {
	width: 100%;
	text-align: center;
	margin: 2rem;
}

.main-article h3 {
	text-align: center;
	font-size: 3rem;
	margin: 1rem;
}

footer h3 {
	padding: 0;
	margin: 0;
}

footer h4 {
	font-size: 1.75rem;
}


/*
#############################################################
	HEADER / NAV / HERO
############################################################# */

header {
	width: 100%;
	z-index: 1;
}

header > nav {
	display: flex;
	padding: .5rem 0;
	background-color: var(--color-primary-50);
	width: 100%;
	height: 7rem;
	justify-content: space-around;
}

/* Add padding to Nav links */
header > nav > ul a {
	padding: 0 1rem;
}

/* Styling Nav list items and links */
header > nav > ul li,
header > nav > ul a {
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}

/* ########################## - NAV - ################################ */

/* Set line-height & text align of nav to center text */
.nav-logo-container,
.nav-links-container,
.checkout-container {
	line-height: 6rem;
	text-align: center;
}

/* Hide menu for handheld */
.nav-links-container-handheld {
	display: none;
}

/* Center payment icons vertically */
.checkout-container {
	line-height: 0;
}

/* Set size and padding for basket and payment icons */
.checkout-icon {
	height: 6rem;
	padding: 1rem;
}

/* Padding to menu item "kameror" and Basket*/
.nav-links-container > .menu-item,
.menu-basket {
	padding: 0 1rem;
}

/* Padding and border between menu items */
.menu-item+.menu-item,
.menu-basket+.menu-checkout {
	padding: 0 1rem;
	border-left: 1px solid rgba(125, 125, 125, 0.4);
}

/* ########################## - HERO - ################################ */

/* Hero section with gradient that colors the hero-image*/
.section-hero {
	width: 100%;
	height: 40rem;
	position: relative;
	background: linear-gradient(25deg, rgba(71, 163, 179, 0.5), rgb(255, 213, 179, .5));
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Adds hero image */
.section-hero::after {
	content: "";
	background-color: slategray; /* Fallback color*/
	background-image: url("../media/chris-lawton-C1rsRsMz-cQ-unsplash.jpg");
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .5;
	position: absolute; /* Position background under title-text*/
	height: 100%;
	width: 100%;
	z-index: -1;

}


/* ########################## - NEWS - ################################ */

.section-news {
	margin: 6rem 0;
	justify-items: center;
}

.news-video iframe {
	width: 100vw;
	height: 70vw;
}

/* News side-scroll */
.section-news-items-1 {
	display: flex;
	height: 20rem;
	align-items: center;
	justify-items: center;
	overflow: scroll;
	overflow-y: hidden;
}

/* Set width and height of section-news-items-1 & .news-article to the same value (make this to a variable) */
.news-article {
	position: relative;
	height: 100%;
	width: 20rem;
	flex-shrink: 0;
}

/* Add bordet between articles */
.news-article+.news-article {
	border-left: 1px solid black;
}

/* Position news-aricle image */
.news-item-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

/* ########################## - MAIN - ################################ */

.main-main {
	background-image: linear-gradient(45deg, hsl(189, 43%, 85%), hsl(189, 43%, 95%));
	position: relative;
	width: 80%;
	margin: 6rem auto; /* add margin and center main content area*/
	padding-bottom: 4rem;
}

/* Container för main products. Flexed w even spacing */
.main-section-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

/* Spacing in individual article */
.main-article {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	min-width: calc(50% - 1.5rem);
	max-width: calc(50% - 1.5rem);
}

/* ########################## - PDF - ################################ */

.section-pdf {
	display: flex;
	width: 100%;
	height: 40rem;
	justify-content: center;
	margin-top: 4rem;
}

.pdf {
	width: 100%;
	height: 100%;
}

/* ########################## - FOOTER - ################################ */

footer {
	display: flex;
	bottom: 0;
	width: 100%;
	padding: 3rem 5rem;
	margin: 6rem 0 0;
	background-color: var(--color-primary-100);
	font-size: 1.5em;
	justify-content: space-between;
}

footer ul {
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
}

footer ul li+li {
	margin: 1rem 0;
}

footer .service {
	/* Align service-list in footer to the bottom*/
	margin-top: 3.5rem;
	text-align: right;
}


/*
##########################################################################################################################
##########################################################################################################################
##########################################################################################################################
	MEDIA RULES 		MEDIA RULES 		MEDIA RULES 		MEDIA RULES 		MEDIA RULES 		MEDIA RULES
##########################################################################################################################
##########################################################################################################################
##########################################################################################################################
*/


/*
##########################################################################################################################
	Desktop rules wider than 1440px
##########################################################################################################################
*/

@media only screen and (min-width: 1440px) and (orientation: landscape) {

/* Adjust DOM font-size */
	html {
		font-size: 20px;
	}

/* Add hover and focus effects desktop */
	nav .nav-link:hover,
	nav .nav-link:focus {
		background-color: white;
		border-radius: .5rem;
	}

	.section-hero {
		height: 30rem;
	}

	.news-video iframe {
		width: 70vw;
		height: 40vw;
	}

	.section-news-items-1 {
		height: 30rem;
	}

	.news-article {
		width: 30rem;
	}

	.pdf {
		width: 80%;
		height: 65vh;
	}

	footer {
		padding: 3rem 5rem 3rem 5rem;
	}

}


/* 
##########################################################################################################################
	Desktop rules wider than 1024px up to 1440px
##########################################################################################################################
*/

@media only screen and (min-width: 1024.1px) and (max-width: 1440px) and (orientation: landscape) {

/* Adjust DOM font-size */
	html {
		font-size: 14px;
	}

/* Fix navigation */
	header > nav {
		position: fixed;
		z-index: 3;
		top: 0;
		justify-content: space-between;
	}

/* Add hover and focus effects desktop */
	nav .nav-link:hover,
	nav .nav-link:focus {
		background-color: white;
		border-radius: .5rem;
	}

	.section-hero {
		margin-top: 7rem;
		height: 30rem;
	}

	.news-video iframe {
		width: 70vw;
		height: 40vw;
	}

	.section-news-items-1 {
		height: 15em;
	}

	.news-article {
		width: 15em;
	}

	.pdf {
		width: 70%;
		height: 100%;
	}
}


/* 
##########################################################################################################################
Tablet rules for Portrait mode
##########################################################################################################################
*/

@media only screen and (max-width: 1024px) and (orientation: portrait) {

/* Adjust DOM font-size */
	html {
		font-size: 14px;
	}

/* ########################## - HEADER & NAV - ################################ */

/* Fix navigation menu with handheld menu */
	header > nav ul {
		position: fixed;
		display: flex;
		justify-content: space-between;
		z-index: 3;
	}

/* Menu background */
	header > nav::after {
		content: '';
		position: fixed;
		z-index: 2;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 7rem;
		background-color: var(--color-primary-50);
	}

	.nav-links-container {
		display: none;
	}

/* Hide primary navigation and show Handheld */
	.nav-links-container-handheld {
		display: inline-block;
		position: fixed;
		width: 100%;
		padding: 1rem 0;
		text-align: center;
		top: 6.9rem;
		background-color: whitesmoke;
		line-height: 5rem;
		z-index: 2;
		font-size: 2rem;
	}

/* Position logo */
	.nav-logo-container {
		left: 0;
	}

/* Position basket & payment */
	.checkout-container {
		right: 0;
	}

/* ########################## - HERO & NEWS TABLET PORTRAIT - ################################ */

/* Margin top Hero-area */
	.section-hero {
		margin-top: 7rem;
	}

	.section-news-items-1 {
		width: 100%;
		height: auto;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-around;
	}

/* News article size */
	.news-article {
		height: 18rem;
		width: 18rem;
		margin: 2rem 0;
		border: none;
	}

/* Remove border between articles */
	.news-article + .news-article {
		border: none;
	}

	.pdf {
		width: 80%;
	}

/* ########################## - FOOTER TABLET PORTRAIT - ################################ */

	footer {
		font-size: 16px;
	}

/* Align service-list in footer to the bottom*/
	footer .service {
		margin-top: 4rem;
	}

}

/*
##########################################################################################################################
	TABLET RULES FOR LANDSCAPE
##########################################################################################################################
*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	html {
		font-size: 10px;
	}

/* Fix navigation without handheld menu*/
	header > nav {
		position: fixed;
		z-index: 3;
	}

/* Adjust logo size */
	header h1 {
		font-size: 3rem;
	}

/* ########################## - NEWS Tablet landscape - ################################ */

/* Video size */
	.news-video iframe {
		width: 70%;
		height: 50vh;
	}

	.section-news-items-1 {
		width: 90%;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-around;
		height: auto;
	}

	.news-article {
		height: 25rem;
		width: 25rem;
		margin: 2rem;
	}

	.news-article + .news-article {
		border: none;
	}

	.pdf {
		width: 80%;
	}

/* Align service-list in footer to the bottom*/
	footer .service {
		margin-top: 4rem;
	}
}

/*
##########################################################################################################################
##########################################################################################################################
	Phone rules		Phone rules		Phone rules		Phone rules		Phone rules		Phone rules		Phone rules
##########################################################################################################################
##########################################################################################################################
*/


/*
##########################################################################################################################
	Phone rules for Landscape mode
##########################################################################################################################
*/

@media only screen and (max-width: 767px) and (orientation: landscape) {

/* Adjust DOM font-size */
	html {
		font-size: 10px;
	}

/* Fix navigation menu */
	header > nav {
		position: static;
		display: flex;
		justify-content: space-between;
	}

	nav h1 {
		font-size: 3rem;
	}

	nav ul {
		position: inherit;
		top: 0;
		z-index: 3;
	}

/* Hide nav-links */
	.nav-links-container {
		display: none;
	}

/* Display handheld menu */
	.nav-links-container-handheld {
		display: inline-block;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 7rem;
		line-height: 5rem;
		background-color: whitesmoke;
		z-index: 1;
	}

/* ########################## - HERO & NEWS PHONE LANDSCAPE - ################################ */

	.section-hero {
		margin-top: 5rem;
		height: 50vh;
	}

/* Adjust hero size */
	.hero-text {
		font-size: 3rem;
	}

/* Video size */
	.news-video iframe {
		width: 70vw;
		height: 40vw;
	}

	.news-article {
		font-size: 2rem;
		height: 18rem;
		width: 18rem;
	}

	.section-pdf {
		height: 60vh;
	}

	.pdf {
		width: 70%;
		height: 100%;
	}

}

/*
##########################################################################################################################
	Phone rules for Portrait mode
##########################################################################################################################
*/

@media only screen and (min-width:300px) and (max-width: 767px) and (orientation: portrait) {

/* Adjust DOM font-size */
	html {
		font-size: 8px;
	}

/* Adjust paragraf font-size */
	p {
		font-size: 2rem;
	}

/* Fix navigation menu */
	header > nav ul {
		position: fixed;
		z-index: 3;
	}

	.nav-links-container {
		display: none;
	}

/* Hide primary navigation and show Handheld */
	.nav-links-container-handheld {
		display: inline-block;
		position: fixed;
		width: 100%;
		padding: 1rem 0;
		text-align: center;
		top: 7rem;
		background-color: whitesmoke;
		line-height: 5rem;
		z-index: 1;
		font-size: 1.5rem;
	}

/* ########################## - HERO & NEWS PHONE PORTRAIT - ################################ */

/* Height of- and Margin top of Hero-area */
	.section-hero {
		margin-top: 7rem;
		height: 30vh;
	}

/* Video size */
	.news-video iframe {
		width: 90vw;
		height: 50vw;
	}

	.section-news-items-1 {
		display: flex;
		width: 95%;
		flex-flow: row wrap;
	}

	.news-article {
		margin-bottom: 2rem;
		border: none;
	}

/* Main content width and remove backgroundcolor */
	.main-main {
		width: 90%;
		background-image: none;
	}

	.main-section-container {
		flex-flow: column nowrap;
		align-items: center;
	}

/* Size and background gradient of main article text */
	.main-article {
		max-width: 100%;
		width: 95%;
		padding: 0;
		background-image: linear-gradient(180deg, silver, rgb(250, 250, 250));
	}

	.main-article + .main-article {
		padding: 0;
		margin: 6rem 0 0 0;
	}

/* ########################## - FOOTER PHONE PORTRAIT - ################################ */

	footer {
		padding: 3rem 2rem;
	}

/* Align service-list in footer to the bottom*/
	footer .service {
		margin-top: 4rem;
	}

/* Adjust font size of items in footer */
	footer h4 {
		font-size: 1.5rem;
	}
}